$gap: 1px;
$border: 1px solid black;
$day-background-color: #eee;
$day-size: 100px;
$columns: 7;
$day-padding: 10px;
$days-in-month: 31;
$hover-day-color: #ffbfcb;
$start-days: (
  0 'mon',
  ($day-size + $gap) 'tue',
  (($day-size + $gap) * 2) 'wed',
  (($day-size + $gap) * 3) 'thu',
  (($day-size + $gap) * 4) 'fri',
  (($day-size + $gap) * 5) 'sat',
  (($day-size + $gap) * 6) 'sun'
);
